body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #e5cf0d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.card {
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin: 20px;
    max-height: 90vh;
    overflow: auto;
}

.card img {
    max-width: 100%;
    max-height: 30vh;
    border-radius: 10px;
    margin: 20px 0;
}

.card h1 {
    font-size: 2em;
    border-bottom: 2px solid #FFD6D6;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.card h4 {
    font-size: 1.5em;
    margin-top: 20px;
}

.card p, .card ul, .card ol {
    text-align: left;
}

.card a {
    color: #FFD6D6;
    text-decoration: none;
    display: block;
    margin-top: 20px;
}

.card a:hover {
    text-decoration: underline;
}
