*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fdfdfd;
    color: #333;
    line-height: 1.6;
    padding-top: 50px;
    background-image: url('./images/food_background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: opacity 2s ease-in-out, background-position 0.7s;
}

.container {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 3em;
    color: #5c5c5c;
    margin-bottom: 20px;
    font-weight: 300;
}

#goku-eating {
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

p {
    margin-bottom: 50px;
    color: #666;
    font-size: 1.1em;
}

.recipe-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.recipe-link {
    position: relative;
    overflow: hidden;
}

.recipe-link img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipe-link span {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;    
}

.recipe-link:hover img {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.recipe-link:hover span {
    display: block;
}

.odin-link {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    z-index: 1000;
    background-color: #5c5c5c;
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.odin-link:hover {
    background-color: #444;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .recipe-links {
        flex-direction: column;
    }

    .recipe-link img {
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 2em;
    }
}
