body {
    background-color: cornsilk;
}


.welcome {
    font-size: 20px;
    font-weight: 700;
    text-align: center;    
}

.hot {
    border-radius: 50%;
    max-width: 50%;
    padding-top: 50px;
    display: block;
    margin: auto;
}

.fortenite {
   display: block;
   text-align: center;
}